<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->

      <!-- END PAGE TITLE -->
      <!-- BEGIN PAGE TOOLBAR -->

      <!-- END PAGE TOOLBAR -->
    </div>
    <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
  <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/diamondsize/{{shape_id}}" style="">Back to Diamond Size</a>
</li>
</ul>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="col-md-11">
  <div class="{{alertClass}}">
    {{errorMsg}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">


    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          Add Diamond Size </div>
      </div>
      <div class="portlet-body form">
        <!--BEGIN FORM-->
        <form [formGroup]="diamondsizeForm" (ngSubmit)="onSubmit()" class="form-horizontal">

          <div class="form-body">

            <div class="form-group">
              <label class="control-label col-sm-3">Size 1: <i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="size1" class="form-control input-circle">
                <span class="help-block required" *ngIf="diamondsizeForm.controls.size1.invalid && (diamondsizeForm.controls.size1.touched || !diamondsizeForm.controls.size1.pristine)">
                                                               Size1 is required.
                                                            </span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">Size 2:<i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="size2" class="form-control input-circle">
                <span class="help-block required" *ngIf="diamondsizeForm.controls.size2.invalid && (diamondsizeForm.controls.size2.touched || !diamondsizeForm.controls.size2.pristine)">
                                                               Size2 is required.
                                                            </span>
              </div>
            </div>

</div>


<div class="form-actions">
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <button type="submit" class="btn btn-circle green" [disabled]="diamondsizeForm.invalid">Submit</button>
      <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
    </div>
  </div>
</div>
</form>
<!-- END FORM-->
</div>
</div>
</div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->
