 <!-- <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner col-lg-3">
                <div class="page-logo">
                        <img src="assets/"  alt="logo" class="logo-default" />
                    <div class="menu-toggler sidebar-toggler">
                    </div>
                </div>
                
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                
            </div>
           
            <div class="form-actions col-lg-8">
                
            <button type="submit" class="btn green uppercase myhide pull-right" ><a class="nav-link" (click)="logout()">Logout</a></button>
            </div>
        </div> -->
       

        <div class="page-header navbar navbar-fixed-top row" style="background-color:#242b3d;height: 100px;">
            
                   <!-- BEGIN HEADER INNER -->
                   <div class="page-header-inner">
                       <!-- BEGIN LOGO -->
       
                       <div class="page-logo col-md-8" style="padding-left:50px">
                           
                               <img src="assets/diamantra_logo.png" style="height: 80px;width:80px" alt="logo" class="logo-default" />
                               
                           <div class="menu-toggler sidebar-toggler" style="height: 40px;">
                               <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                           </div>
                           
                       </div>
                       <!-- END LOGO -->
                       <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                       <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                       <!-- END RESPONSIVE MENU TOGGLER -->
                       
                       <!-- BEGIN PAGE ACTIONS -->
                       <!-- DOC: Remove "hide" class to enable the page header actions -->
                      
                       <!-- END PAGE ACTIONS -->
                       <!-- BEGIN PAGE TOP -->
                       
                       <!-- END PAGE TOP -->
    
                       <div class="page-actions pull-right col-md-1" style="padding-top:10px;">
                               <div class="btn-group">
                                       <a class="btn btn-default btn-sm dropdown-toggle "  data-toggle="modal" data-target="#myModal"><B>Logout</B></a>
                                   
                               </div>
                           </div>
       
       
                      
                       <!-- <div class="myhide col-md-4" >                   
                                       <a class="more"> <button class="btn btn-danger" data-toggle="modal" data-target="#myModal"><B>LOGOUT</B>
                                            </button>
                                            
                                           </a>
                                           
                                        
                                       
                                        </div> -->
                   </div>
                   <!-- END HEADER INNER -->
                   
                   
                   <!-- <div class="myhide c" >                   
                                       <a class="more"> <button class="btn btn-danger" data-toggle="modal" data-target="#myModal"><B>LOGOUT</B>
                                            </button>
                                            
                                           </a>
                                           
                                        
                                       
                                        </div> -->
               </div>
               <!-- Modal -->
         <div class="modal fade" id="myModal" role="dialog">
           <div class="modal-dialog">
           
             <!-- Modal content-->
             <div class="modal-content">
               
                 
                 
               <div class="modal-body">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4>Are you sure you want to logout</h4>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" style="background-color:#242b3d; color:white;" (click)="clicked()" data-dismiss="modal">Yes</button>
                 <button type="button" class="btn btn-default" style="background-color:#242b3d; color:white;" data-dismiss="modal" >No</button>
               </div>
             </div>
             
           </div>
         </div>
               <!-- END HEADER -->