<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->


      <!-- END PAGE TITLE -->
      <!-- BEGIN PAGE TOOLBAR -->

      <!-- END PAGE TOOLBAR -->
    </div>
    <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
      <li>
        <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/architect" style="">Architect List</a>
      </li>
    </ul>

    <div class="col-md-11">
      <div class="{{alertClass}}">
        {{errorMsg}}
      </div>
    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->

    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="row">
      <div class="col-md-12">


        <div class="portlet box green">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-plus"></i>Add Architect </div>
          </div>
          <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form [formGroup]="architectForm" class="form-horizontal" (ngSubmit)="onSubmit()">

              <div class="form-body">
                <div class="form-group">
                  <label class="col-md-3 control-label"> Name<i class="required">*</i></label>
                  <div class="col-md-4">
                     <input type="text" name="name" [formControl]="architectForm.controls['name']" class="form-control input-circle" placeholder="" >
                    <span class="help-block required" *ngIf="architectForm.controls.name.invalid && (architectForm.controls.name.touched || !architectForm.controls.name.pristine)">
                                                 Name is required.
                                              </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-md-3 control-label">Email<i class="required">*</i></label>
                  <div class="col-md-4">
                     <input name="email" [formControl]="architectForm.controls['email']" class="form-control input-circle" placeholder="" >
                    <span class="help-block required" *ngIf="architectForm.controls.email.invalid && (architectForm.controls.email.touched || !architectForm.controls.email.pristine)">
                                                 Email is required.
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-md-3 control-label">Mobile Number<i class="required">*</i></label>
                  <div class="col-md-4">
                     <input name="mobile_no" [formControl]="architectForm.controls['mobile_no']" class="form-control input-circle" placeholder="" >
                    <span class="help-block required" *ngIf="architectForm.controls.mobile_no.invalid && (architectForm.controls.mobile_no.touched || !architectForm.controls.mobile_no.pristine)">
                                                 Email is required.
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Password<i class="required">*</i></label>
                  <div class="col-md-4">
                     <input name="password" [formControl]="architectForm.controls['password']" class="form-control input-circle" placeholder="" >
                    <span class="help-block required" *ngIf="architectForm.controls.password.invalid && (architectForm.controls.password.touched || !architectForm.controls.password.pristine)">
                                                 Password is required.
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-actions">
                <div class="row">
                  <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-circle green" [disabled]="architectForm.invalid">Submit</button>
                    <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
                  </div>
                </div>
              </div>
            </form>
            <!-- END FORM-->
          </div>
        </div>


      </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
  </div>
  <!-- END CONTENT BODY -->
</div>