
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
              <!-- BEGIN CONTENT BODY -->
              <div class="page-content">
              

                 
                  <div class="row">
                      <div class="col-md-12">
                          
                          <!-- BEGIN EXAMPLE TABLE PORTLET-->
                          <div class="portlet light bordered">
                              <div class="portlet-title">
                                  <div class="caption font-dark">
                                      <i class="fa fa-navicon font-dark"></i>

                                      <span class="caption-subject bold uppercase">List of Architect</span><br>
                                     

                                  </div>
 <div class="btn-group pull-right" >
    
     <span *ngIf="value!=3"> 
     <a routerLink="/addarchitect" class="btn btn-primary"><i class="fa fa-fw fa-navicon"></i> Add Architect</a>
           
             </span>
  
 </div>
                </div>
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column" >
                        <thead>
                          <tr>    
                          <th> Id</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Mobile No.</th>
                          <th>Password</th>
                          <th>Action</th>
                      
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let data of posts">
                              <td>{{data.id}}</td>
                              <td>{{data.name}}</td>
                              <td>{{data.email}}</td> 
                              <td>{{data.mobile_no}}</td>
                              <td>{{data.password}}</td>
                               <td><a routerLink="/editarchitect/{{data.id}}">Edit</a></td>
                              
                          </tr>


                  </tbody>
                                  </table>



                               
                              </div>
                          </div>
                          <!-- END EXAMPLE TABLE PORTLET-->
                      </div>
                  </div>
                  
                  <!-- END PAGE BASE CONTENT -->
              </div>
              <!-- END CONTENT BODY -->
          
