
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
              <!-- BEGIN CONTENT BODY -->
              <div class="page-content">
              

                 
                  <div class="row">
                      <div class="col-md-12">
                          
                          <!-- BEGIN EXAMPLE TABLE PORTLET-->
                          <div class="portlet light bordered">
                              <div class="portlet-title">
                                  <div class="caption font-dark">
                                      <i class="fa fa-navicon font-dark"></i>

                                      <span class="caption-subject bold uppercase">Brochures List</span><br>
                                     

                                  </div>
 <div class="btn-group pull-right">
    <a routerLink="/addbrochures" class="btn btn-primary"><i class="fa fa-fw fa-navicon"></i> Add Brochures</a>
    <!--<a routerLink="/category" class="btn btn-primary"><i class="fa fa-fw fa-bar-chart-o"></i> App Product List</a>-->
  </div>
                </div>
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column" >
                        <thead>
                          <tr>    
                          <th> Id</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Banner</th>
                          <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let data of posts">
                              <td>{{data.dickson_brochures_id}}</td>
                              <td>{{data.title}}</td>
                              <td>{{data.description}}</td> 
                              <td><a href="{{data.image}}" target="_blank"><img  src="{{data.image}}" width="150px"></a><span *ngIf="data.content_type == 'application/pdf'"><a href="{{data.image}}" target="_blank"><img src="./assets/global/img/pdf.png" width="150px"></a></span></td>
                               <td><a routerLink="/editbrochures/{{data.dickson_brochures_id}}">Edit</a></td>
                              
                          </tr>


                  </tbody>
                                  </table>



                               
                              </div>
                          </div>
                          <!-- END EXAMPLE TABLE PORTLET-->
                      </div>
                  </div>
                  
                  <!-- END PAGE BASE CONTENT -->
              </div>
              <!-- END CONTENT BODY -->
          
