
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
              <!-- BEGIN CONTENT BODY -->
              <div class="page-content">
              
                 
                  <div class="row">
                      <div class="col-md-12">
                          <!-- BEGIN EXAMPLE TABLE PORTLET-->
                          <div class="portlet light bordered">
                              <div class="portlet-title">
                                  <div class="caption font-dark">
                                      <i class="fa fa-cart-plus font-dark"></i>

                                      <span class="caption-subject bold uppercase">Answer List</span>
                                  </div>
                </div>

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column" >
                  <thead>
                      <tr> 
                      <th>ID</th>
                      <th>Answer</th>
                          
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of posts;let i=index">
                          <td>{{i+1}}</td>
                          <td>{{post.answer}}</td>
                                                
                       </tr>
                   </tbody>
                                  </table>



                               
                              </div>
                          </div>
                          <!-- END EXAMPLE TABLE PORTLET-->
                      </div>
                  </div>
                  
                  <!-- END PAGE BASE CONTENT -->
              </div>
              <!-- END CONTENT BODY -->
          
