
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-list-alt font-dark"></i>
                                        <span class="caption-subject bold uppercase">Category List</span>
                                    </div>
                                        <!--<div class="btn-group pull-right">
                                            <a routerLink="/addcategory" class="btn btn-primary"><i class="fa fa-fw fa-image"></i> Add Category</a>
                                        </div>-->
									</div>


  
					
                                
                                
                               
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column" >
                          <thead>
                            <tr>
                                <th>Id</th>
                                <th>Category Name</th>	
                                <th>Subcategory</th>
                                <!--<th>Action</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of posts;let i=index">
                                <td>{{i+1}}</td>
                                <td>{{category.category_name}}</td>
                                 <td><a routerLink="/subcategory/{{category.arya_category_id}}">Subcategory</a></td>
                                <!--<td><a routerLink="/editcategory/{{category.arya_category_id}}"  >Edit</a></td>                                -->
                            </tr>

                        </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
