
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
            <li><span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/category"> Category List</a>
            </li>
        </ul>
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-list-alt font-dark"></i>
                                        <span class="caption-subject bold uppercase">SubCategory List</span>
                                    </div>
                                        <div class="btn-group pull-right">
                                            <a routerLink="/addsubcategory/{{id}}" class="btn btn-primary"><i class="fa fa-fw fa-image"></i> Add SubCategory</a>
                                        </div>
									</div>


  
					
                                
                                
                               
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column" >
                          <thead>
                            <tr>
                                <th>Id</th>
                                <th>Sub Category Name</th>	
                                <th>Image</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of posts;let i=index">
                                <td>{{i+1}}</td>
                                <td>{{category.category_name}}</td>
                                 <td><img src="{{category.app_image}}" width="150px"></td>
                                 <td><a routerLink="/productlist/{{id}}/{{category.arya_category_id}}"  >Product List</a></td> 
                                <td><a routerLink="/editsubcategory/{{id}}/{{category.arya_category_id}}"  >Edit</a></td>                                
                            </tr>

                        </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            

