
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-cart-plus font-dark"></i>

                                        <span class="caption-subject bold uppercase">Order List</span>
                                    </div>
 
									</div>
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column" >
                          <thead>
                        <tr > 

                        <th> Id </th>
                        
                        <th> Product Name </th>
                        <th> Customer Name </th>
                        <th> Email ID </th>
                        <th> Mobile No </th>
                        <th> Karat </th>
                        <th> Gold Price (/gms) </th>
                        <th> Diamond Rate </th>
                        <th> Colour Stone </th>
                        <th> Colour Stone Price </th>
                        <th> Quantity </th>
                        <th> Size </th>
                        <th> Total Price </th>
                        <th> Order Date </th>

                        </tr>
                            </thead>
                        <tbody>
                            <tr *ngFor="let order of posts">
                    <td>{{order.diamantra_order_id }}</td>
                    <td>{{order.product_name}}</td>
                     <td>{{order.cust_name}}</td>
                     <td>{{order.cust_email}}</td>
                     <td>{{order.cust_mobile_no}}</td>
                     <td>{{order.karat}}</td>
                     <td>{{order.price}}</td>
                     <td>{{order.rate}}</td>
                     <td>{{order.colour_stone}}</td>
                     <td>{{order.colour_stone_price}}</td>
                     <td>{{order.quantity}}</td>
                     <!-- <td>{{order.price}}</td>  -->
                     <td>{{order.size}}</td>
                     <td>{{order.total_price}}</td>       
                    <td>{{order.order_date | date}}</td>
                           </tr>


                    </tbody>
                                    </table>

 

                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
