<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->

      <!-- END PAGE TITLE -->
      <!-- BEGIN PAGE TOOLBAR -->

      <!-- END PAGE TOOLBAR -->
    </div>
    <ul class="page-breadcrumb breadcrumb note note-info" style="font-weight:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
  <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/diamondweight/{{shape_id}}" style="">Back to Diamond Weight</a>
</li>
</ul>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="col-md-11">
  <div class="{{alertClass}}">
    {{errorMsg}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">


    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          Add Diamond Weight </div>
      </div>
      <div class="portlet-body form">
        <!--BEGIN FORM-->
        <form [formGroup]="diamondweightForm" (ngSubmit)="onSubmit()" class="form-horizontal">

          <div class="form-body">

            <div class="form-group">
              <label class="control-label col-sm-3">Size: <i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="size" class="form-control input-circle">
                <span class="help-block required" *ngIf="diamondweightForm.controls.size.invalid && (diamondweightForm.controls.size.touched || !diamondweightForm.controls.size.pristine)">
                                                               Size is required.
                                                            </span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">Weight<i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="weight" class="form-control input-circle">
                <span class="help-block required" *ngIf="diamondweightForm.controls.weight.invalid && (diamondweightForm.controls.weight.touched || !diamondweightForm.controls.weight.pristine)">
                                                               Weight is required.
                                                            </span>
              </div>
            </div>

</div>


<div class="form-actions">
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <button type="submit" class="btn btn-circle green" [disabled]="diamondweightForm.invalid">Submit</button>
      <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
    </div>
  </div>
</div>
</form>
<!-- END FORM-->
</div>
</div>
</div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->
