<div class="login">
 <!--<div class="logo">
        </div>-->
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
                <form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">      
              <h3 class="form-title font-green">Sign In</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Enter any username and password. </span>
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">User Mobile No</label>
                    <input class="form-control form-control-solid placeholder-no-fix" formControlName="mobno" type="text" autocomplete="off" placeholder="Mobile Number" />
                    <span class="help-block required" *ngIf="loginForm.controls.mobno.invalid && (loginForm.controls.mobno.touched || !loginForm.controls.mobno.pristine)">
                        User Name is required.
                    </span>
                     </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix" formControlName="password" type="password" autocomplete="off" placeholder="Password" />
                <span class="help-block required" *ngIf="loginForm.controls.password.invalid &&                             (loginForm.controls.password.touched || !loginForm.controls.password.pristine)">
                        Password is required.
                    </span> </div>
                <div class="form-actions">
                    <button type="submit" class="btn green uppercase">Login</button>
                </div>
                
                
            </form>
            <!-- END LOGIN FORM -->
            <!-- BEGIN FORGOT PASSWORD FORM -->
        
            <!-- END FORGOT PASSWORD FORM -->
            <!-- BEGIN REGISTRATION FORM -->
            
            <!-- END REGISTRATION FORM -->
        </div>
</div>