<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->


            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->

            <!-- END PAGE TOOLBAR -->
        </div>
        <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
            <li><span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/category"> Category List</a>
            </li>
        </ul>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->

        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="col-md-11">
            <div class="{{alertClass}}">
                {{errorMsg}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">


                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">

                            <i class="fa fa-gift"></i>
                            <span >Add Category</span>
                            <!--<span *ngIf="isSubcat">Add Subcategory</span>
                            <span *ngIf="editSubcat">Edit Subcategory</span>
                            <span *ngIf="editCat">Edit Category</span>-->
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->

                        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Category Name<i class="required">*</i></label>
                                    <div class="col-md-4">
                                        <!--<input type="hidden" name="category_id" formControlName="category_id" class="form-control input-circle" placeholder="">-->
                                        <input type="text" class="form-control input-circle" placeholder="Enter category Name " formControlName="category_name" id="inputWarning">
                                        <span class="help-block" class="required" *ngIf="categoryForm.controls.category_name.invalid && (categoryForm.controls.category_name.touched || !categoryForm.controls.category_name.pristine)">
                                                                   Category Name is required.
                                                                </span>
                                    </div>
                                </div>



                                <!--<div class="form-group ">

                                    <label class="control-label col-md-3">Image<i class="required">*</i></label>
                                    <div class="col-md-4">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                <img [src]="imagePath1" alt="" />
                                            </div>
                                            <div>
                                                <span class="btn red btn-outline btn-file">
                                                <span class="fileinput-new"> Select image </span>
                                                <span class="fileinput-exists"> Change </span>
                                                <input type="file" class="form-control" name="file" [src]="categoryForm.controls['image1']" (change)="onChange($event)">
                                                </span>
                                                <div>
                                                </div>
                                                <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->

<!--
                                <div class="form-group ">

                                    <label class="control-label col-md-3">Icon<i class="required">*</i></label>
                                    <div class="col-md-4">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                <img [src]="imagePath2" alt="" />
                                            </div>
                                            <div>
                                                <span class="btn red btn-outline btn-file">
                                                <span class="fileinput-new"> Select image </span>
                                                <span class="fileinput-exists"> Change </span>
                                                <input type="file" class="form-control" name="file" [src]="categoryForm.controls['image2']" (change)=" imageupload($event)">
                                                </span>
                                                <div>
                                                </div>
                                                <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>

                            
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-circle green" [disabled]="categoryForm.invalid">Submit</button>
                                        <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>


            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>