
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
              <!-- BEGIN CONTENT BODY -->
              <div class="page-content">
              

                 
                  <div class="row">
                      <div class="col-md-12">
                          
                          <!-- BEGIN EXAMPLE TABLE PORTLET-->
                          <div class="portlet light bordered">
                              <div class="portlet-title">
                                  <div class="caption font-dark">
                                      <i class="fa fa-navicon font-dark"></i>

                                      <span class="caption-subject bold uppercase">Image List</span><br>
                                     

                                  </div>
 <div class="btn-group pull-right" *ngFor="let post of posts">
    <a routerLink="/addcolorimages/{{post.product_id}}" class="btn btn-primary"><i class="fa fa-fw fa-navicon"></i> Add Image</a>
    <!--<a routerLink="/category" class="btn btn-primary"><i class="fa fa-fw fa-bar-chart-o"></i> App Product List</a>-->
  </div>
                </div>

<!--<form [formGroup]="productForm" class="form-horizontal" (ngSubmit)="UploadExcel()">
  <div class="row">
      <div class="col-md-12">
          <div class="col-md-2">
              <label class="control-label ">   Select Excel </label>
          </div>
          <div class="col-md-6">
              <input type="file" class="form-control" required (change)="onChange($event)" />
          </div>
          <div class="col-md-4">
              <button type="submit" class="btn btn-success">Upload Excel </button>

              <a (click)="downloadexcel()" class="btn btn-danger">Download Excel </a>
          </div>
      </div>
  </div>
  <br>
</form>-->
        
                              
                              
<div style="overflow-x: auto;white-space: nowrap;width: 100%;">
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped table-bordered table-hover table-checkable order-column" >
                        <thead>
                          <tr>
                          <th>ID</th> 
                          <th> Image Name</th> 
                          <th> Color Name</th> 
                          <th>Image</th>
                          <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let post1 of data">
                                  <td>{{post1.colorimages_id}}</td>
                                  <td>{{post1.image_name}}</td>
                                  <td>{{post1.color_name}}</td>
                              <td><img class="img-responsive" src="{{post1.image_url}} "></td>
                              
                              <!-- <td>{{post.discount_price}}</td> -->
      
                          </tr>


                  </tbody>
                                  </table>
</div>



                               
                              </div>
                          </div>
                          <!-- END EXAMPLE TABLE PORTLET-->
                      </div>
                  </div>
                  
                  <!-- END PAGE BASE CONTENT -->
              </div>
              <!-- END CONTENT BODY -->
          
