
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
              <!-- BEGIN CONTENT BODY -->
              <div class="page-content">
              
                 
                  <div class="row">
                      <div class="col-md-12">
                          <!-- BEGIN EXAMPLE TABLE PORTLET-->
                          <div class="portlet light bordered">
                              <div class="portlet-title">
                                  <div class="caption font-dark">
                                      <i class="fa fa-university font-dark"  style="font-size: 18px"></i>
                                      <span class="caption-subject bold uppercase">Diamond Rate</span>
                                  </div>
                                     <div class="btn-group pull-right">
                                      <a routerLink="/adddiamondrate" class="btn btn-default"><i class="fa fa-plus"></i> Add Diamond Rate</a>
                                    </div>
                              </div>

                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                      <thead>
                        <tr> 
                        <th>ID</th>
                        <th>Clarity</th>
                        <th>Colour</th>
                        <th>Shape</th>
                        <th>Size (MM)</th>
                        <!-- <th>Size2</th> -->
                        <th>Rate</th>
                        <!-- <th>Applicants for Scheme</th> -->
                        <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let rate of posts;let i=index">
                            <td>{{i+1}}</td>
                            <td>{{rate.clarity}}</td>
                            <td>{{rate.colour}}</td>
                            <td>{{rate.shape}}</td>
                            <td>{{rate.size1}} - {{rate.size2}} </td>
                             <td>{{rate.rate}}</td>
                            <!--<td>{{rate.size1}}</td>-->
                            <!--<td><a routerLink="/schemesapplied/{{rate.scheme_id}}">Applicants</a></td>-->
                                 
                            <td>
                                <a routerLink="/editdiamondrate/{{rate.diamantra_diamond_rate_id}}">Edit</a>
                            </td>
                         </tr>
                     </tbody>
                                  </table>                                 
                              </div>
                          </div>
                          <!-- END EXAMPLE TABLE PORTLET-->
                      </div>
                  </div>
                  <!-- END PAGE BASE CONTENT -->
              </div>
              <!-- END CONTENT BODY -->
          

