<!-- BEGIN SIDEBAR -->

<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">


    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption font-dark">
              <i class="fa fa-cart-plus font-dark"></i>

              <span class="caption-subject bold uppercase">Order List</span>
            </div>
            <div class="btn-group pull-right">
                <a routerLink="/addshowroom" class="btn btn-primary"><i class="fa fa-fw fa-navicon"></i> Add Showroom</a>
                <!--<a routerLink="/category" class="btn btn-primary"><i class="fa fa-fw fa-bar-chart-o"></i> App Product List</a>-->
              </div>
          </div>

          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column" >
            <thead>
              <tr >
                <th>  Id </th>
                <th> Showroom Name </th>
                <th> Address </th>
                <th> Pincode </th>
                <th> Image </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of posts">
                <td>{{data.dickson_showroom_id }}</td>
                <td>{{data.showroom_name}}</td>
                <td>{{data.address}}</td>
                <td>{{data.pincode}}</td>
                <td><img class="img-responsive" src="{{data.image1 }} "></td>
                <td><a routerLink="/editshowroom/{{data.dickson_showroom_id}}">Edit</a></td>
                
              </tr>


            </tbody>
          </table>




        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>
  </div>

  <!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->