
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">Layout Page List</span>
                                    </div>
   <div class="btn-group pull-right">
			<a routerLink="/layoutpage" class="btn btn-default"><i class="fa fa-fw fa-dashboard"></i> Add Layout Page</a>
			<a routerLink="/layoutlist" class="btn btn-primary"><i class="fa fa-fw fa-bar-chart-o"></i>Layout Page List</a>
		</div>
									</div>


  
					
                                
                                
                               
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                          <thead>
                        <tr > 
                        <th> Category id </th>
                        <th>Category Name </th>
                        <th> Action </th>
                        </tr>
                            </thead>
                        <tbody>
                            <tr *ngFor="let category of posts">
                    <td>{{category.app_category_id }}</td>
                    <td>{{category.app_category}}</td>
                            
                    <td><a routerLink="edit/{{ category.app_category_id}}"  >Edit</a></td>
                                    

                            </tr>


                    </tbody>
                                    </table>

 

                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
