<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->

      <!-- END PAGE TITLE -->
      <!-- BEGIN PAGE TOOLBAR -->

      <!-- END PAGE TOOLBAR -->
    </div>
    <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
  <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/diamondrate" style="">Back to Diamond Rate</a>
</li>
</ul>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="col-md-11">
  <div class="{{alertClass}}">
    {{errorMsg}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">


    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          Add Diamond Rate </div>
      </div>
      <div class="portlet-body form">
        <!--BEGIN FORM-->
        <form [formGroup]="diamondrateForm" (ngSubmit)="onSubmit()" class="form-horizontal">

          <div class="form-body">


          <div class="form-group">
            <label class="control-label col-sm-3">Clarity<i class="required">*</i></label>
            <div class="col-md-4">
                <select class="form-control input-circle" name="clarity" required autofocus [formControl]="diamondrateForm.controls['clarity']" (change)="changecolor($event.target.value)">                      
                                       <option value="" selected="selected">--Select--</option>   
                                        <option *ngFor="let cat of claritylist" value="{{cat.id}}">{{cat.clarity}}</option>          
                                    </select>
                <span class="help-block required" *ngIf="diamondrateForm.controls.clarity.invalid && (diamondrateForm.controls.clarity.touched || !diamondrateForm.controls.clarity.pristine)">
                                        Clarity is required.
                                    </span>
            </div>
        </div>

        <!-- <div class="form-group">
            <label class="control-label col-sm-3">Colour<i class="required">*</i></label>
            <div class="col-md-4">
                <select class="form-control" name="colour" required autofocus [formControl]="diamondrateForm.controls['colour']">                      
                                       <option value="" selected="selected">Select Colour</option>   
                                        <option *ngFor="let cat of posts" value="{{cat.id}}">{{cat.colour}}</option>          
                                    </select>
                <span class="help-block required" *ngIf="diamondrateForm.controls.colour.invalid && (diamondrateForm.controls.colour.touched || !diamondrateForm.controls.colour.pristine)">
                                        Colour is required.
                                    </span>
            </div>
        </div> -->

        <div class="form-group">
            <label class="control-label col-sm-3">Colour<i class="required">*</i></label>
            <div class="col-md-4">
              <input type="text" disabled formControlName="colour" class="form-control input-circle" [value]="colour_name">
              <!-- <span class="help-block required" *ngIf="diamondrateForm.controls.colour.invalid && (diamondrateForm.controls.colour.touched || !diamondrateForm.controls.colour.pristine)">
                Colour is required.
                                                          </span> -->
            </div>
          </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Shape<i class="required">*</i></label>
            <div class="col-md-4">
                <select class="form-control input-circle" required autofocus formControlName="shape" (change)="changesizelist($event.target.value)">                      
                                       <option value="" selected="selected">Select Shape</option>   
                                        <option *ngFor="let cat of shapelist" value="{{cat.id}}">{{cat.shape}}</option>          
                                    </select>
                <span class="help-block required" *ngIf="diamondrateForm.controls.shape.invalid && (diamondrateForm.controls.shape.touched || !diamondrateForm.controls.shape.pristine)">
                    Shape is required.
                                    </span>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-3">Size<i class="required">*</i></label>
            <div class="col-md-2">
                <select class="form-control input-circle" name="size1" required autofocus [formControl]="diamondrateForm.controls['size1']" (change)="changesize2($event.target.value)">                      
                                       <option value="" selected="selected">Select Size1</option>   
                                        <option *ngFor="let cat of sizelist" value="{{cat.diamond_size_id}}">{{cat.size1}}</option>          
                                    </select>
                <span class="help-block required" *ngIf="diamondrateForm.controls.size1.invalid && (diamondrateForm.controls.size1.touched || !diamondrateForm.controls.size1.pristine)">
                    Size1 is required.
                                    </span>
            </div>   
       

            
                <div class="col-md-2">
                  <input type="text" disabled formControlName="size2" class="form-control input-circle" [value]="size_2">
                  <!-- <span class="help-block required" *ngIf="diamondrateForm.controls.size2.invalid && (diamondrateForm.controls.size2.touched || !diamondrateForm.controls.size2.pristine)">
                    Size2 is required.
                                                              </span> -->
                </div>
              
       
            <!-- <div class="col-md-2">
                <select class="form-control" name="size2" required autofocus [formControl]="diamondrateForm.controls['size2']">                      
                                       <option value="" selected="selected">Select Size2</option>   
                                        <option *ngFor="let cat of ratelist" value="{{cat.diamantra_diamond_rate_id}}">{{cat.size2}}</option>          
                                    </select>
                <span class="help-block required" *ngIf="diamondrateForm.controls.size2.invalid && (diamondrateForm.controls.size2.touched || !diamondrateForm.controls.size2.pristine)">
                    Size2 is required.
                                    </span>
            </div>    -->
        </div>


            <div class="form-group">
              <label class="control-label col-sm-3">Rate<i class="required">*</i></label>
              <div class="col-md-4">
                <input type="text" formControlName="rate" class="form-control input-circle">
                <span class="help-block required" *ngIf="diamondrateForm.controls.rate.invalid && (diamondrateForm.controls.rate.touched || !diamondrateForm.controls.rate.pristine)">
                                                               Rate is required.
                                                            </span>
              </div>
            </div>

</div>


<div class="form-actions">
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <button type="submit" class="btn btn-circle green" [disabled]="diamondrateForm.invalid">Submit</button>
      <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
    </div>
  </div>
</div>
</form>
<!-- END FORM-->
</div>
</div>
</div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->