
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
              <!-- BEGIN CONTENT BODY -->
              <div class="page-content">
              

                 
                  <div class="row">
                      <div class="col-md-12">
                          
                          <!-- BEGIN EXAMPLE TABLE PORTLET-->
                          <div class="portlet light bordered">
                              <div class="portlet-title">
                                  <!-- <div class="caption font-dark">
                                      <i class="fa fa-navicon font-dark"></i>

                                      <span class="caption-subject bold uppercase">Product List</span><br>
                                     

                                  </div> -->
                                  <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
                                    <li>
                                        <span aria-hidden="true" class="icon-arrow-left"></span>
                                        <a routerLink="/productlist/{{id}}/{{subcat_id}}" style=""> Product List</a>
                                    </li>
                                </ul>
                </div>

<!--<form [formGroup]="productForm" class="form-horizontal" (ngSubmit)="UploadExcel()">
  <div class="row">
      <div class="col-md-12">
          <div class="col-md-2">
              <label class="control-label ">   Select Excel </label>
          </div>
          <div class="col-md-6">
              <input type="file" class="form-control" required (change)="onChange($event)" />
          </div>
          <div class="col-md-4">
              <button type="submit" class="btn btn-success">Upload Excel </button>

              <a (click)="downloadexcel()" class="btn btn-danger">Download Excel </a>
          </div>
      </div>
  </div>
  <br>
</form>-->
        
                              
                              
<!-- <div style="overflow-x: auto;white-space: nowrap;width: 100%;"> -->
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped table-bordered table-hover table-checkable order-column" >
                        <thead>
                          <tr>
                          <th>ID</th> 
                          <th>Image1</th>
                          <th>Image2</th>
                          <th>Image3</th>
                          <th>Image4</th>
                          <th>Image5</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let post of posts;let i=index;">
                                  <td>{{i+1}}</td>
                              <td><img class="img-responsive" src="{{post.extra_data.image3 }} "></td>
                              <td><img class="img-responsive" src="{{post.extra_data.image4 }} "></td>
                              <td><img class="img-responsive" src="{{post.extra_data.image5 }} "></td>
                              <td><img class="img-responsive" src="{{post.extra_data.image6 }} "></td>
                              <td><img class="img-responsive" src="{{post.extra_data.image7 }} "></td>
                              <!-- <td><img class="img-responsive" src="{{post.image1 }} "></td> -->
          `                   </tr>


                  </tbody>
                                  </table>
<!-- </div> -->



                               
                              </div>
                          </div>
                          <!-- END EXAMPLE TABLE PORTLET-->
                      </div>
                  </div>
                  
                  <!-- END PAGE BASE CONTENT -->
              </div>
              <!-- END CONTENT BODY -->
          
