<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
      <!-- BEGIN PAGE HEAD-->
      <div class="page-head">
          <!-- BEGIN PAGE TITLE -->


          <!-- END PAGE TITLE -->
          <!-- BEGIN PAGE TOOLBAR -->

          <!-- END PAGE TOOLBAR -->
      </div>
      <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
          <li>
              <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/productlist" style=""> Image List</a>
          </li>
      </ul>
      <!-- END PAGE HEAD-->
      <!-- BEGIN PAGE BREADCRUMB -->

          <!-- END PAGE BREADCRUMB -->
      <!-- BEGIN PAGE BASE CONTENT -->
      <div class="col-md-12">
          <div class="{{alertClass}}">
              {{errorMsg}}
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="portlet box green">
                  <div class="portlet-title">
                      <div class="caption" *ngIf="!isproduct">
                          <i class="fa fa-gift"></i>Add Image </div>
                      <div class="caption" *ngIf="isproduct"> <i class="fa fa-gift"></i>Edit Image </div>
                  </div>
                  <div class="portlet-body form">
                      <!-- BEGIN FORM-->
                      <form [formGroup]="imageForm" class="form-horizontal" (ngSubmit)="onSubmit()">

                          <div class="form-body">
                              <div class="form-group">
                                  <label class="col-md-3 control-label">Image Name</label>
                                  <div class="col-md-4">
                                      <input type="text" name="image_name" [formControl]="imageForm.controls['image_name']" class="form-control input-circle"
                                          placeholder="">
                                       <!-- <span class="help-block required" *ngIf="imageForm.controls.name.invalid && (imageForm.controls.name.touched || !imageForm.controls.name.pristine)">
                                                                  Name is required .
                                                              </span> -->
                                  </div>
                              </div>

                              <div class="form-group">
                                <label class="col-md-3 control-label">Color Name</label>
                                <div class="col-md-4">
                                    <input type="text" name="color_image" [formControl]="imageForm.controls['color_image']" class="form-control input-circle"
                                        placeholder="">
                                    <!-- <span class="help-block required" *ngIf="imageForm.controls.name.invalid && (imageForm.controls.name.touched || !imageForm.controls.name.pristine)">
                                                                Name is required .
                                                            </span> -->
                                </div>
                            </div>

                              
                              <div class="form-group ">
                                  <label class="control-label col-md-3">Image</label>
                                  <div class="col-md-4">


                                      <div class="fileinput fileinput-new" data-provides="fileinput">

                                          <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                              <img [src]="imagepath8" alt="" />
                                          </div>
                                          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                          <div>
                                              <span class="btn red btn-outline btn-file">                                                                                  
                                              <span class="fileinput-new"> Select image </span>
                                              <span class="fileinput-exists"> Change </span>
                                              <input type="file" class="form-control" name="file" [src]="imageForm.controls['image8']" (change)="onChange($event)">
                                              </span>
                                              <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          <div class="form-actions">
                              <div class="row">
                                  <div class="col-md-offset-3 col-md-9">
                                      <button type="submit" class="btn btn-circle green" [disabled]="imageForm.invalid">Submit</button>
                                      <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                      <!-- END FORM-->
                  </div>
              </div>


          </div>
      </div>
      <!-- END PAGE BASE CONTENT -->
  </div>
  <!-- END CONTENT BODY -->

</div>