
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-university font-dark"  style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase">Diamond Shape</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addshape" class="btn btn-default"><i class="fa fa-plus"></i> Add New Shape</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          <th>Shape</th>
                          <th>Size</th>
                          <th>Weight</th>
                          <!--<th>Start Date</th>
                          <th>Launched Date</th>
                          <th>Launched By</th>
                          <th>Applicants for Scheme</th>-->
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let shape of posts;let i=index">
                              <td>{{i+1}}</td>
                              <td>{{shape.shape}}</td>
                              <td><a routerLink="/diamondsize/{{shape.id}}">View Sizes</a></td>
                              <!--<td><img src="{{shape.file}}" width=100px></td>
                              <td>{{shape.start_date}}</td>-->
                               <td><a routerLink="/diamondweight/{{shape.id}}">View Weight</a></td>
                              <!--<td>{{shape.guest}}</td>-->
                              <!--<td><a routerLink="/schemesapplied/{{shape.scheme_id}}">Applicants</a></td>-->
                                   
                              <td>
                                  <a routerLink="/editshape/{{shape.id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            

