<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->


      <!-- END PAGE TITLE -->
      <!-- BEGIN PAGE TOOLBAR -->

      <!-- END PAGE TOOLBAR -->
    </div>
    <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
      <li>
        <span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/productlist" style=""> Showroom List</a>
      </li>
    </ul>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->

    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="col-md-12">
      <div class="{{alertClass}}">
        {{errorMsg}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="portlet box green">
          <div class="portlet-title">
            <div class="caption" *ngIf="!isproduct">
              <i class="fa fa-gift"></i>Add Showroom </div>
            <div class="caption" *ngIf="isproduct"> <i class="fa fa-gift"></i>Edit Showroom </div>
          </div>
          <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form [formGroup]="showroomForm" class="form-horizontal" (ngSubmit)="onSubmit()">

              <div class="form-body">
                <div class="form-group">
                  <label class="col-md-3 control-label">Showroom Name<i class="required">*</i></label>
                  <div class="col-md-4">
                    <input type="hidden" name="showroom_name" [formControl]="showroomForm.controls['showroom_name']" class="form-control input-circle"
                      placeholder="">
                    <input type="text" name="showroom_name" [formControl]="showroomForm.controls['showroom_name']" class="form-control input-circle" placeholder="">
                    <span class="help-block required" *ngIf="showroomForm.controls.showroom_name.invalid && (showroomForm.controls.showroom_name.touched || !showroomForm.controls.showroom_name.pristine)">
                                                                    Name is required .
                                                                </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-3">Address<i class="required">*</i></label>
                  <div class="col-sm-4">

                    <input type="text" [formControl]="showroomForm.controls['address']" name="address" class="form-control input-circle">
                    <span class="help-block required" *ngIf="showroomForm.controls.address.invalid && (showroomForm.controls.address.touched || !showroomForm.controls.address.pristine)">
                                                                    Address is required.
                                                            </span>
                  </div>
                </div>

                
                <div class="form-group">
                  <label class="control-label col-sm-3">Pincode<i class="required">*</i></label>
                  <div class="col-md-4">

                    <input type="text" name="pincode" [formControl]="showroomForm.controls['pincode']" class="form-control input-circle">                    <span class="help-block required" *ngIf="showroomForm.controls.pincode.invalid && (showroomForm.controls.pincode.touched || !showroomForm.controls.pincode.pristine)">
                                                               Pincode is required.
                                                            </span>
                  </div>
                </div>

                <!--<div class="form-group">
                                                          <label class="control-label col-sm-3">Size<i class="required">*</i></label>
                                                          <div class="col-md-4">

                                                            <input type="text"  [formControl]="showroomForm.controls['size']"  name="" class="form-control input-circle">
                                                            <span class="help-block required" *ngIf="showroomForm.controls.size.invalid && (showroomForm.controls.size.touched || !showroomForm.controls.size.pristine)">
                                                               Size is required.
                                                            </span>
                                                          </div>
                                                        </div>-->

                <!-- <div class="form-group">
                  <label class="control-label col-sm-3">Price<i class="required">*</i></label>
                  <div class="col-md-4">

                    <input type="text" [formControl]="showroomForm.controls['price']" name="" class="form-control input-circle">
                    <span class="help-block required" *ngIf="showroomForm.controls.price.invalid && (showroomForm.controls.price.touched || !showroomForm.controls.price.pristine)">
                                                               Price is required.
                                                            </span>
                  </div>
                </div> -->


                <!-- <div class="form-group">
                  <label class="control-label col-sm-3">Offer<i class="required">*</i></label>
                  <div class="col-md-4">

                    <input type="text" [formControl]="showroomForm.controls['offer']" name="" class="form-control input-circle">
                    <span class="help-block required" *ngIf="showroomForm.controls.offer.invalid && (showroomForm.controls.offer.touched || !showroomForm.controls.offer.pristine)">
                                                               offer is required.
                                                            </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-3">Discount Price<i class="required">*</i></label>
                  <div class="col-md-4">

                    <input type="text" [formControl]="showroomForm.controls['discount_price']" name="" class="form-control input-circle">
                    <span class="help-block required" *ngIf="showroomForm.controls.discount_price.invalid && (showroomForm.controls.discount_price.touched || !showroomForm.controls.discount_price.pristine)">
                                                               Price is required.
                                                            </span>
                  </div>
                </div>

 -->
                <div class="form-group ">
                  <label class="control-label col-md-3">Image<i class="required">*</i></label>
                  <div class="col-md-4">


                    <div class="fileinput fileinput-new" data-provides="fileinput">

                      <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                        <img [src]="imagepath1" alt="" />
                      </div>
                      <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                      <div>
                        <span class="btn red btn-outline btn-file">                                                                                  
                                                <span class="fileinput-new"> Select image </span>
                        <span class="fileinput-exists"> Change </span>
                        <input type="file" class="form-control" name="file" [src]="showroomForm.controls['image1']" (change)="onChange($event)">
                        </span>
                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


              <div class="form-actions">
                <div class="row">
                  <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-circle green" [disabled]="showroomForm.invalid">Submit</button>
                    <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
                  </div>
                </div>
              </div>
            </form>
            <!-- END FORM-->
          </div>
        </div>


      </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
  </div>
  <!-- END CONTENT BODY -->

</div>