
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                   
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-university font-dark"  style="font-size: 18px"></i>
                                        <span class="caption-subject bold uppercase">Colour Stone</span>
                                    </div>
                                       <div class="btn-group pull-right">
                                        <a routerLink="/addcolourstone" class="btn btn-default"><i class="fa fa-plus"></i> Add Colour Stone</a>
                                      </div>
									              </div>

                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <thead>
                          <tr> 
                          <th>ID</th>
                          
                          <th>Colour Stone</th>
                          <th>Price</th>
                          <!--<th>Image</th>
                          <th>Start Date</th>
                          <th>Launched Date</th>
                          <th>Launched By</th>
                          <th>Applicants for Scheme</th>-->
                          <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let colourstone of posts;let i=index">
                              <td>{{i+1}}</td>
                              
                             <td>{{colourstone.colour_stone}}</td>
                             <td>{{colourstone.colour_stone_price}}</td>
                              <!-- <td><img src="{{colourstone.file}}" width=100px></td>
                              <td>{{colourstone.startdate}}</td>
                              <td>{{colourstone.launcheddate}}</td>
                              <td>{{colourstone.guest}}</td>-->
                              <!--<td><a routerLink="/schemesapplied/{{colourstone.schemeid}}">Applicants</a></td>-->
                                   
                              <td>
                                  <a routerLink="/editcolourstone/{{colourstone.id}}">Edit</a>
                              </td>
                           </tr>
                       </tbody>
                                    </table>                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            

