<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->


            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->

            <!-- END PAGE TOOLBAR -->
        </div>
        <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
            <li>
                <span aria-hidden="true" class="icon-arrow-left"></span>
                <a routerLink="/productlist/{{id}}/{{subcat_id}}" style=""> Product List</a>
            </li>
        </ul>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->

        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="col-md-12">
            <div class="{{alertClass}}">
                {{errorMsg}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption" >
                            <i class="fa fa-gift"></i>Add Product </div>
                        <!-- <div class="caption" *ngIf="isproduct">
                            <i class="fa fa-gift"></i>Edit Product </div> -->
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form [formGroup]="productForm" class="form-horizontal" (ngSubmit)="onSubmit()">

                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Product Name</label>
                                    <div class="col-md-4">
                                        <!-- <input type="hidden" name="product_id" [formControl]="productForm.controls['product_id']" class="form-control input-circle"
                                            placeholder=""> -->
                                        <input type="text" name="product_name" [formControl]="productForm.controls['product_name']" class="form-control input-circle"
                                            placeholder="">
                                        <span class="help-block required" *ngIf="productForm.controls.product_name.invalid && (productForm.controls.product_name.touched || !productForm.controls.product_name.pristine)">
                                            Name is required .
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Product Code</label>
                                    <div class="col-sm-4">

                                        <input type="text" [formControl]="productForm.controls['product_code']" name="product_code" class="form-control input-circle">
                                        <span class="help-block required" *ngIf="productForm.controls.product_code.invalid && (productForm.controls.product_code.touched || !productForm.controls.product_code.pristine)">
                                            Code is required.
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Description</label>
                                    <div class="col-md-4">

                                        <textarea name="description" [formControl]="productForm.controls['description']" class="form-control input-circle"></textarea>
                                        <!-- <span class="help-block required" *ngIf="productForm.controls.description.invalid && (productForm.controls.description.touched || !productForm.controls.description.pristine)">
                                                               Description is required.
                                                            </span> -->
                                    </div>
                                </div>
 

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Clarity
                                        <i class="required">*</i>
                                    </label>
                                    <div class="col-md-4">
                                        <select class="form-control input-circle" name="clarity" required autofocus [formControl]="productForm.controls['clarity']">
                                            <option value="" selected="selected" >--Select Clarity--</option>
                                            <option *ngFor="let cat of claritylist" value="{{cat.id}}">Color: {{cat.colour}}&nbsp; - &nbsp;Clarity: {{cat.clarity}}</option>
                                        </select>
                                        <span class="help-block required" *ngIf="productForm.controls.clarity.invalid && (productForm.controls.clarity.touched || !productForm.controls.clarity.pristine)">
                                            Clarity is required.
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Shape
                                        <i class="required">*</i>
                                    </label>
                                    <div class="col-md-4">
                                        <select class="form-control input-circle" name="shape" required autofocus [formControl]="productForm.controls['shape']" (change)="onChangeShape($event.target.value)">
                                            <option value="" selected="selected" >--Select Shape--</option>
                                            <option *ngFor="let cat of shapelist" value="{{cat.id}}">{{cat.shape}}</option>
                                        </select>
                                        <span class="help-block required" *ngIf="productForm.controls.shape.invalid && (productForm.controls.shape.touched || !productForm.controls.shape.pristine)">
                                            Shape is required.
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Diamond Weight
                                        <i class="required">*</i>
                                    </label>
                                    <div class="col-md-4">
                                        <select class="form-control input-circle" name="diamantra_weight" required autofocus [formControl]="productForm.controls['diamond_weight']" (change)="onChangeWeight($event.target.value)">
                                            <option value="" selected="selected">--Select Diamond weight--</option>
                                            <option *ngFor="let weight of weightlist" value="{{weight.diamantra_weight_id}}">Size: {{weight.size}}&nbsp; - &nbsp;Weight: {{weight.weight}}</option>
                                        </select>
                                        <span class="help-block required" *ngIf="productForm.controls.diamond_weight.invalid && (productForm.controls.diamond_weight.touched || !productForm.controls.diamond_weight.pristine)">
                                            Diamond weight is required.
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Diamond Rate</label>
                                    <div class="col-md-4">

                                        <input type="text" disabled [formControl]="productForm.controls['diamond_rate']" name="diamond_rate" class="form-control input-circle" [value]="diamond_rate_value">
                                        <!-- <span class="help-block required" *ngIf="productForm.controls.diamond_rate.invalid && (productForm.controls.diamond_rate.touched || !productForm.controls.diamond_rate.pristine)">
                                            Diamond Rate is required.
                                        </span> -->
                                    </div>
                                </div>
                               

                                <div class="form-group">
                                    <label class="control-label col-sm-3">No. of Diamonds</label>
                                    <div class="col-md-4">

                                        <input type="text" [formControl]="productForm.controls['discount_price']" name="discount_price" class="form-control input-circle">
                                        <span class="help-block required" *ngIf="productForm.controls.discount_price.invalid && (productForm.controls.discount_price.touched || !productForm.controls.discount_price.pristine)">
                                            No. of Diamonds is required.
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Color Stone</label>
                                    <div class="col-md-4">
                                        <select class="form-control input-circle" name="colour_stone"  autofocus [formControl]="productForm.controls['colour_stone']" >                      
                                                                   <option value="" selected="selected">--Select Color Stone--</option>  
                                                                    <option *ngFor="let abc of colorlist" value="{{abc.id}}">{{abc.colour_stone}}</option>          
                                                                </select>
                                        
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-sm-3">Gold Karat
                                        <i class="required">*</i>
                                    </label>
                                    <div class="col-md-4">
                                        <select class="form-control input-circle" name="karat" required autofocus [formControl]="productForm.controls['karat']">
                                            <option value="" selected="selected">--Select Gold Karat--</option>
                                            <option *ngFor="let karat of karatlist" value="{{karat.id}}">{{karat.karat}}</option>
                                        </select>
                                        <span class="help-block required" *ngIf="productForm.controls.karat.invalid && (productForm.controls.karat.touched || !productForm.controls.karat.pristine)">
                                            Gold Karat is required.
                                        </span>
                                    </div>
                                </div>



                                <!-- <div class="form-group">
                                    <label class="control-label col-sm-3">Color Stone Price</label>
                                    <div class="col-md-4">

                                        <input type="text" [formControl]="productForm.controls['colour_stone_price']" name="colour_stone_price" class="form-control input-circle">
                                        <span class="help-block required" *ngIf="productForm.controls.colour_stone_price.invalid && (productForm.controls.colour_stone_price.touched || !productForm.controls.colour_stone_price.pristine)">
                                            colour_stone_price is required.
                                        </span>
                                    </div>
                                </div>
 -->
 


                                <div class="form-group">
                                    <label class="control-label col-sm-3">Gold Weight</label>
                                    <div class="col-md-4">

                                        <input type="text" [formControl]="productForm.controls['gold_weight']" name="gold_weight" class="form-control input-circle">
                                        <span class="help-block required" *ngIf="productForm.controls.gold_weight.invalid && (productForm.controls.gold_weight.touched || !productForm.controls.gold_weight.pristine)">
                                            Gold weight is required.
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Size</label>
                                    <div class="col-md-4">

                                        <input type="text" [formControl]="productForm.controls['discount_percentage']" name="discount_percentage" class="form-control input-circle">
                                        <span class="help-block required" *ngIf="productForm.controls.discount_percentage.invalid && (productForm.controls.discount_percentage.touched || !productForm.controls.discount_percentage.pristine)">
                                                               Price is required.
                                                            </span>
                                    </div>
                                </div>


                                <!-- <div class="form-group">
                                    <label class="control-label col-sm-3">Product Price</label>
                                    <div class="col-md-4">

                                        <input type="text" disabled [formControl]="productForm.controls['product_price']" class="form-control input-circle" [value]="calculated_product_price">
                                        <span class="help-block required" *ngIf="productForm.controls.discount_percentage.invalid && (productForm.controls.discount_percentage.touched || !productForm.controls.discount_percentage.pristine)">
                                                               Price is required.
                                                            </span>
                                    </div>
                                </div> -->


                                <div class="form-group ">
                                    <label class="control-label col-md-3">Image</label>
                                    <div class="col-md-4">


                                        <div class="fileinput fileinput-new" data-provides="fileinput">

                                            <div class="fileinput-new thumbnail input-circle" style="width: 200px; height: 150px;">
                                                <img [src]="imagepath1" alt="" />
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                            <div>
                                                <span class="btn red btn-outline btn-file">
                                                    <span class="fileinput-new"> Select image </span>
                                                    <span class="fileinput-exists"> Change </span>
                                                    <input type="file" class="form-control" name="file" [src]="productForm.controls['image1']" (change)="onChange($event)">
                                                </span>
                                                <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label class="control-label col-md-3">Image2<i class="required">*</i></label>
                                    <div class="col-md-4">
                                
                                
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                
                                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                <img [src]="imagepath2" alt="" />
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                <div>
                                    <span class="btn red btn-outline btn-file">                                                                                  
                                                                                                  <span class="fileinput-new"> Select image </span>
                                    <span class="fileinput-exists"> Change </span>
                                    <input type="file" class="form-control" name="file" [src]="productForm.controls['image2']" (change)="onChange1($event)">
                                    </span>
                                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                </div>
                                </div>
                                </div>
                                </div>
                                
                                <div class="form-group ">
                                    <label class="control-label col-md-3">Image3<i class="required">*</i></label>
                                    <div class="col-md-4">
                                
                                
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                
                                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                <img [src]="imagepath3" alt="" />
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                <div>
                                    <span class="btn red btn-outline btn-file">                                                                                  
                                                                                                  <span class="fileinput-new"> Select image </span>
                                    <span class="fileinput-exists"> Change </span>
                                    <input type="file" class="form-control" name="file" [src]="productForm.controls['image3']" (change)="onChange2($event)">
                                    </span>
                                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                </div>
                                </div>
                                </div>
                                </div>
                                
                                <div class="form-group ">
                                    <label class="control-label col-md-3">Image4<i class="required">*</i></label>
                                    <div class="col-md-4">
                                
                                
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                
                                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                <img [src]="imagepath4" alt="" />
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                <div>
                                    <span class="btn red btn-outline btn-file">                                                                                  
                                                                                                  <span class="fileinput-new"> Select image </span>
                                    <span class="fileinput-exists"> Change </span>
                                    <input type="file" class="form-control" name="file" [src]="productForm.controls['image4']" (change)="onChange3($event)">
                                    </span>
                                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                </div>
                                </div>
                                </div>
                                </div>
                                
                                <div class="form-group ">
                                    <label class="control-label col-md-3">Image5<i class="required">*</i></label>
                                    <div class="col-md-4">
                                
                                
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                
                                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                <img [src]="imagepath5" alt="" />
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                <div>
                                    <span class="btn red btn-outline btn-file">                                                                                  
                                                                                                  <span class="fileinput-new"> Select image </span>
                                    <span class="fileinput-exists"> Change </span>
                                    <input type="file" class="form-control" name="file" [src]="productForm.controls['image5']" (change)="onChange4($event)">
                                    </span>
                                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                </div>
                                </div>
                                </div>
                                </div>


                            </div>


                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-circle green" [disabled]="productForm.invalid">Submit</button>
                                        <button type="reset" class="btn btn-circle red btn-outline">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>


            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->

</div>