
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
                        <li><span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/subcategory/{{id}}"> SubCategory List</a>
                        </li>
                    </ul>

                   
                    <div class="row">
                        <div class="col-md-12">
                            
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="fa fa-navicon font-dark"></i>

                                        <span class="caption-subject bold uppercase">Product List</span><br>
                                       

                                    </div>
   <div class="btn-group pull-right">
			<a routerLink="/addproduct/{{id}}/{{subcat_id}}" class="btn btn-primary"><i class="fa fa-fw fa-navicon"></i> Add Product</a>
			<!--<a routerLink="/category" class="btn btn-primary"><i class="fa fa-fw fa-bar-chart-o"></i> App Product List</a>-->
		</div>
									</div>

<!--<form [formGroup]="productForm" class="form-horizontal" (ngSubmit)="UploadExcel()">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <label class="control-label ">   Select Excel </label>
            </div>
            <div class="col-md-6">
                <input type="file" class="form-control" required (change)="onChange($event)" />
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">Upload Excel </button>

                <a (click)="downloadexcel()" class="btn btn-danger">Download Excel </a>
            </div>
        </div>
    </div>
    <br>
</form>-->
					
                                
                                
<div style="overflow-x: auto;white-space: nowrap;width: 100%;">
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped table-bordered table-hover table-checkable order-column" >
                          <thead>
                            <tr>
                            <th>ID</th> 
                            <th>Image</th>
                            <th>Tiltle/Code</th>
                            <th>Product Price</th>
                            
                            <!-- <th>Product Code</th> -->
                            <th>Gold Details</th>
                            <th>Diamond Weight/ No.of Diamonds</th>
                            <th>Diamond Details</th>
                            <th>Colour Stone Details</th>
                            
                            <th>Size of Product</th>
                            <th>Category/Subcategory</th>
                            <!-- <th>Product Images</th> -->
                           
                            <!-- <th>Specification</th> -->
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of posts;let i= index" style="word-wrap:break-word">
                                    <td>{{i+1}}</td>
                                <td><img class="img-responsive" src="{{post.image1 }} "></td>
                                <td><b>Title:</b>{{post.product_name}}<br><b>Code:</b>{{post.product_code}}</td>
                                <td style="text-align:center">Rs. {{post.final_product_price|  number :'.0-0'}}</td>
                               
                                <!--<td>Size:{{post.size}}Kg
                                    <br> stock:{{post.stock}}
                                    </td>-->
                                <!-- <td>{{post.product_code}}</td> -->
                                <td><b>Gold Weight: </b>{{post.gold_weight}} gms<br><b>Karat: </b>{{post.karat}}<br><b>Price: </b>{{post.price}}/gms<br><b>Making Charges: </b>{{post.making_charges}}/gms</td>
                                <td><b>Diamond Weight: </b>{{post.diamond_weight}} gms<br><b>Diamond Rate: </b>{{post.diamond_rate}}<br><b>No.of Diamonds: </b>{{post.discount_price}}</td>
                                <td><b>Shape: </b>{{post.shape}}<br><b>Clarity: </b>{{post.clarity}}<br><b>Color: </b>{{post.colour}}</td>
                                <td><b>Colour Stone: </b>{{post.colour_stone}}<br><b>Price: </b>{{post.colour_stone_price}}</td>
                                
                                <td>{{post.discount_percentage}}</td>
                                <td><b>Category:</b>{{post.category_name}}<br><b>Subcategory:</b>{{post.sub_category_name}}</td>
                                <!-- <td><a routerLink="/productimage/{{post.product_id}}">Product Images</a></td> -->
                                <!-- <td><a routerLink="/colorimage/{{post.product_id}}">Image Color</a></td> -->
                               

                                <td><a routerLink="/editproduct/{{post.category_id}}/{{post.sub_category_id}}/{{post.product_id}}"  >Edit</a></td>
                                
                            </tr>


                    </tbody>
                                    </table>
</div>

 

                                 
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
