
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
              <!-- BEGIN CONTENT BODY -->
              <div class="page-content">
              
                 
                  <div class="row">
                      <div class="col-md-12">
                          <!-- BEGIN EXAMPLE TABLE PORTLET-->
                          <div class="portlet light bordered">
                              <div class="portlet-title">
                                  <div class="caption font-dark">
                                      <i class="fa fa-cart-plus font-dark"></i>

                                      <span class="caption-subject bold uppercase">Query List</span>
                                  </div>
                </div>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column" >
                        <thead>
                      <tr > 

                      <th>Query Id </th>
                      
                      <th> Subject </th>
                      <th> Customer Name </th>
                      <th> Mobile No </th>
                      <th> Message </th>
                      </tr>
                          </thead>
                      <tbody>
                          <tr *ngFor="let post of posts">
                  <td>{{post.dickson_query_id }}</td>

                  <td>{{post.subject}}</td>
                   <td>{{post.cust_name}}</td>
                   <td>{{post.mobile_number}}</td>
                   <td>{{post.message}}</td>
                   
                         </tr>


                  </tbody>
                                  </table>



                               
                              </div>
                          </div>
                          <!-- END EXAMPLE TABLE PORTLET-->
                      </div>
                  </div>
                  
                  <!-- END PAGE BASE CONTENT -->
              </div>
              <!-- END CONTENT BODY -->
          
