
            <!-- BEGIN SIDEBAR -->
           
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
              <!-- BEGIN CONTENT BODY -->
              <div class="page-content">
                <ul class="page-breadcrumb breadcrumb note note-info" style="font-size:1.15em; font-weight:bold;text-transform: uppercase; padding:10px; margin-bottom: 20px ">
<li>
<span aria-hidden="true" class="icon-arrow-left"></span><a routerLink="/shape" style="">Back to Diamond Shape</a>
</li>
</ul>
                 
                  <div class="row">
                      <div class="col-md-12">
                          <!-- BEGIN EXAMPLE TABLE PORTLET-->
                          <div class="portlet light bordered">
                              <div class="portlet-title">
                                  <div class="caption font-dark">
                                      <i class="fa fa-university font-dark"  style="font-size: 18px"></i>
                                      <span class="caption-subject bold uppercase">Diamond Weight</span>
                                  </div>
                                     <div class="btn-group pull-right">
                                      <a routerLink="/adddiamondweight/{{shape_id}}" class="btn btn-default"><i class="fa fa-plus"></i> Add Diamond Size</a>
                                    </div>
                              </div>

                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover table-checkable order-column">
                      <thead>
                        <tr> 
                        <th>ID</th>
                        <!--<th>Clarity</th>
                        <th>Colour</th>
                        <th>Shape</th>-->
                        <th>Size</th>
                        <th>Weight</th>
                        <!--<th>Launched By</th>
                        <th>Applicants for Scheme</th>-->
                        <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let diamondweight of posts;let i=index">
                            <td>{{i+1}}</td>
                            <!--<td>{{diamondweight.clarity}}</td>
                           <td>{{diamondweight.colour}}</td>
                           <td>{{diamondweight.shape}}</td>-->
                            <td>{{diamondweight.size}}</td>
                            <td>{{diamondweight.weight}}</td>
                             <!-- <td>{{diamondweight.guest}}</td>-->
                            <!--<td><a routerLink="/schemesapplied/{{diamondweight.schemeid}}">Applicants</a></td>-->
                                 
                            <td>
                                <a routerLink="/editdiamondweight/{{diamondweight.shape_id}}/{{diamondweight.diamantra_weight_id}}">Edit</a>
                            </td>
                         </tr>
                     </tbody>
                                  </table>                                 
                              </div>
                          </div>
                          <!-- END EXAMPLE TABLE PORTLET-->
                      </div>
                  </div>
                  <!-- END PAGE BASE CONTENT -->
              </div>
              <!-- END CONTENT BODY -->
          

